
<section class="content-main">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2 ">User List </h2>
                </div>
            </div>
        </div>
        <div class="card-body p-3">

            <table id="usertbl" class="table table-bordered table-striped pt-2" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            UserName
                        </th>
                        <th>
                            phoneNumber
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/user.js"></script>
}


