
<section class="content-main mt-50">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <h2 class="text-primary py-2 ">User List </h2>
                </div>
                <div class="col-md-12">
                    <div class="card-body p-3">
                        <table id="usertbl" class="table table-bordered table-striped pt-2" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        UserName
                                    </th>
                                    <th>
                                        phoneNumber
                                    </th>
                                  
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div> 
</section>

@section Scripts{
    <script src="~/js/user.js"></script>
}


