@model Product


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 "> Create Product </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row">
           
            <div class=" p-3 mt-2">
                <div asp-validation-summary="All"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ProductName" type="text" class="form-control border-0 shadow" />
                    <label asp-for="ProductName" class="ms-2"></label>
                    <span asp-validation-for="ProductName" class="text-primary"></span>
                </div>
                <div class="form-floating py-2 col-12">

                    <input asp-for="ProductDescription" type="text" class="form-control border-0 shadow" />
                    <label asp-for="ProductDescription" class="ms-2"></label>
                    <span asp-validation-for="ProductDescription" class="text-primary"></span>
                </div>
                <div class="form-floating py-2 col-12">

                    <input asp-for="ListPrice" type="text" class="form-control border-0 shadow" />
                    <label asp-for="ListPrice" class="ms-2"></label>
                    <span asp-validation-for="ListPrice" class="text-primary"></span>
                </div>
                <div class="form-floating py-2 col-12">

                    <input asp-for="Price" type="text" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-primary"></span>
                </div>
                <div class="form-floating py-2 col-12">

                    <input asp-for="Listprice50" type="text" class="form-control border-0 shadow" />
                    <label asp-for="Listprice50" class="ms-2"></label>
                    <span asp-validation-for="Listprice50" class="text-primary"></span>
                </div>
                <div class="form-floating py-2 col-12">

                    <input asp-for="Listprice100" type="text" class="form-control border-0 shadow" />
                    <label asp-for="Listprice100" class="ms-2"></label>
                    <span asp-validation-for="Listprice100" class="text-primary"></span>
                </div>

                <div class="form-floating py-2 col-12">

                    <input asp-for="ProductQuantity" type="text" class="form-control border-0 shadow" />
                    <label asp-for="ProductQuantity" class="ms-2"></label>
                    <span asp-validation-for="ProductQuantity" class="text-primary"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3" style="width:150px">Upadte</button>
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border mt-3" style="width:150px">Back to list</a>
            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}