@model int 


<section class="content-main">
   
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                   
                    <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125" height="120" style="display: block; border: 0px;" /><br>
                </div>
                <div class="col-md-12">
                    <div class="text-primary text-center">
                        <h2 class="content-title card-title">ThankYou For Your  Order </h2>
                        <p>
                            Order Placed Succesfully<br>
                            Your Order Number:@Model
                        </p>
                    </div>
                </div>
                
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>
<!-- content-main end//
