@model int 

<div class=" conatiner row pt-4">
    <div class="text-primary text-center">
        <h1>
            Order Placed Succesfully<br>
            Your Order Number:@Model
        </h1>

    </div>
</div>


